<div class="row">
  <h1>Let's Play Rock Paper Scissors</h1>

  <div class="large-12 columns">

    <div class="callout panel">
      <h2>Player</h2>
      <p><%= session[:player_score] %></p>
    </div>

    <div class="callout panel">
      <h2>Computer</h2>
      <p><%= session[:computer_score] %></p>
    </div>

  </div>

  <a href="/player/rock" class="button tiny success">Rock</a>
  <a href="/player/paper" class="button tiny success">Paper</a>
  <a href="/player/scissors" class="button tiny success">Scissors</a>
</div>
